.navigation {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    width: 400px;
    font-size: 17px;

    a {
        color: #FF7D29;
        text-decoration: none;
        cursor: pointer;
    }
}