.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    padding: 0 55px;

    label {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 5px;
    }

    a {
        color: #FF7D29;
        cursor: pointer;
        font-weight: 700;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;

        &-email {
            color: #FF7D29;
        }
    }
}

@media only screen and (max-width: 900px) {
    .contact {
        flex-direction: column;

        &__image-container {
            margin-bottom: 30px;
        }
    }
}