.App {
  header {
    height: 45px;
    // border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 75px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 900px) {
    .App header {
        justify-content: center;
        padding: 0;
    }
}